{% extends 'admin/master.html' %}

{% block main_menu %}
    <div class="ui  fixed large top inverted menu green">
        <div class="ui container">
            <a href="/" class="item">电影船后台管理</a>

            <div class="item right">
                <div class="ui buttons">
                    <button class="ui primary button" id="login">
                        <span><i class="user icon"></i></span>
                        管理员
                    </button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block body %}
    {{ super() }}


    <script src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/semantic/dist/semantic.min.css">
    <script src="../static/semantic/dist/semantic.min.js"></script>




    <div class="ui centered grid">

        <div class="two wide column">
        </div>

        <div class="three wide column">
            <div class="ui card">
                <a class="image" href="/movie/1001">
                    <img src="http://opsfsk07z.bkt.clouddn.com/movie-1001.jpg">
                </a>
                <div class="content">
                    <a class="header" href="/movie/1001"><h3>银河护卫队2</h3></a>
                    <div id="info_1001" class="four wide column" hidden>
                        <span style="font-size: 2em;font-weight: 700;color:#be997f;display: block;margin-bottom: .5em">银河护卫队2</span>


                        <span class="tiny-title">豆瓣评分: 8.4</span>

                        <span class="tiny-title">又名: Guardians of the Galaxy Vol. 2</span>

                        <span class="tiny-title">上映日期: 2017-05-05(中国大陆/美国)</span>

                        <span class="tiny-title">类型: 动作,科幻,冒险</span>

                        <span class="tiny-title">片长: 137分钟</span>

                        <span class="tiny-title">上映地区: 美国</span>

                        <div class="ui horizontal divider">
                        </div>
                        <div class="extra content">
                                    <span style="font-size: 3em">

                                    ￥
                                    </span>

                            <span style="color: red;font-size: 7em;">
                                        9.0
                                </span>
                        </div>

                    </div>
                </div>
                <div class="extra content">
                    ￥
                    <span style="color: red;">
                                        9.0
                                </span>
                </div>
            </div>
            <button id="consume_1001" class="ui button negative large">点击购买</button>
        </div>

        <div class="three wide column">
            <div class="ui card">
                <a class="image" href="/movie/1002">
                    <img src="http://opsfsk07z.bkt.clouddn.com/movie-1002.jpg">
                </a>
                <div class="content">
                    <a class="header" href="/movie/1002"><h3>庄稼之岛</h3></a>
                    <div id="info_1002" class="four wide column" hidden>
                        <span style="font-size: 2em;font-weight: 700;color:#be997f;display: block;margin-bottom: .5em">庄稼之岛</span>


                        <span class="tiny-title">豆瓣评分: 7.4</span>

                        <span class="tiny-title">又名: სიმინდის კუნძული</span>

                        <span class="tiny-title">上映日期: 2014-07-09(卡罗维发利电影节),2014-09-17(格鲁吉亚)</span>

                        <span class="tiny-title">类型: 剧情,战争</span>

                        <span class="tiny-title">片长: 100分钟</span>

                        <span class="tiny-title">上映地区: 格鲁吉亚,德国,法国,捷克,哈萨克斯坦,匈牙利</span>

                        <div class="ui horizontal divider">
                        </div>
                        <div class="extra content">
                                    <span style="font-size: 3em">

                                    ￥
                                    </span>

                            <span style="color: red;font-size: 7em;">
                                        19.0
                                </span>
                        </div>

                    </div>
                </div>
                <div class="extra content">
                    ￥
                    <span style="color: red;">
                                        19.0
                                </span>
                </div>
            </div>
            <button id="consume_1002" class="ui button negative large">点击购买</button>
        </div>

    </div>
{% endblock body %}