{% extends 'base.html' %}

{% block title %}{{ user.username }}--消费历史{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang('zh_CN') }}
{% endblock %}

{% block content %}
    <!--the main content begin-->
    <div class="container">
        <!--the content-->
        <div class="ui grid">
            <div class="two wide column"></div>
            <!--the vertical menu-->
            <div class="four wide column">
                <div class="verticalMenu">
                    <div class="ui vertical pointing menu fluid">
                        <a class="item" href="/user/profile">
                            <i class="edit icon"></i>账户设置
                        </a>
                        <a class="active teal item" href="/user/consume_history">
                            <i class="history icon"></i>消费历史
                        </a>
                        <a class="item" href="/user/change_password">
                            <i class="key icon"></i> 修改密码
                        </a>
                        <a class="item" href="/user/charge">
                            <i class="yen icon"></i>充值
                        </a>
                        <a class="item" href="/user/message">
                            <i class="chat icon"></i> 消息
                        </a>
                    </div>
                </div>
            </div>
            <div class="thirteen wide column">
                <div class="pageHeader">
                    <div class="segment">
                        <h3 class="ui dividing header">
                            <i class="large cloud icon"></i>
                            <div class="content">
                                我的购买记录
                                <div class="sub header">购买的视频信息都在这里</div>
                            </div>
                        </h3>
                    </div>
                </div>
                <!--the products content-->

                {% for record in consume_records %}
                    <span style="color: darkred">
                    {{ record.consumer.username }}观看/购买于
                    {{ record.consume_time.strftime("%Y-%m-%d") }}
                    {{ moment(record.consume_time).fromNow() }}
                    </span>
                    <div class="ui four column grid segment">
                        <div class="row">

                            <div class="five wide column">
                                <br> <br> <br> <br><br>
                                <a class="ui image" href="/movie/{{ record.movie.brief_id }}">
                                    <img src="{{ record.movie.cover }}">
                                </a>

                            </div>


                            <div class="seven wide column">
                                <span style="font-size:2em;font-weight: 700;color:#be997f;display: block;margin-bottom: .5em">{{ record.movie.title }}</span>

                                {% for item in record.movie.info.split('\n')[0:-2] %}
                                    {% if item.startswith('豆') or item.startswith('类型') or item.startswith('片') %}
                                        <p class="tiny-title">{{ item }}</p>
                                    {% endif %}

                                {% endfor %}
                                <div class="extra content">
                                    <span style="font-size: 2em"> ￥ <span
                                            style="color: grey;"> {{ record.movie.movie_price.first().price }} </span>
                                    </span>
                                </div>
                                <button id="watch" class="ui blue button large"
                                        value="/watch/{{ record.movie.brief_id }}">
                                    <i class="video play icon"></i>
                                    观看视频
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="ui container">
                    <div class="ui pagination big menu right floated">

                        {% if pagination.has_prev %}
                            <a class="icon item" href="{{ current_path }}page={{ current_page-1 }}">
                                <i class="icon left arrow"></i>
                            </a>
                        {% endif %}

                        {% for page in pagination.iter_pages() %}

                            {% if not page %}
                                <a class="item">
                                    ...
                                </a>
                            {% else %}
                                <a class="item" href="{{ current_path }}page={{ page }}">
                                    {{ page }}
                                </a>
                            {% endif %}

                        {% endfor %}


                        {% if pagination.has_next %}
                            <a class="icon item" href="{{ current_path }}page={{ current_page+1 }}">
                                <i class="icon right arrow"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#watch').click(
            function () {
                window.location = $(this)[0].value;
            }
        )
    </script>

{% endblock %}