{% extends 'base.html' %}

{% block title %}{{ user.username }}--消费历史{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang('zh_CN') }}
{% endblock %}

{% block content %}
    <!--the main content begin-->
    <div class="container">
        <!--the content-->
        <div class="ui grid">
            <!--the vertical menu-->
            <div class="five wide column">
                <div class="verticalMenu">
                    <div class="ui vertical pointing menu fluid">
                        <a class="item" href="/user/profile">
                            <i class="edit icon"></i>账户设置
                        </a>
                        <a class="active teal item" href="/user/consume_history">
                            <i class="key icon"></i>消费历史
                        </a>
                        <a class="item" href="/user/change_password">
                            <i class="lock icon"></i> 修改密码
                        </a>
                        <a class="item" href="./notifications.html">
                            <i class="chat icon"></i> 消息队列
                        </a>
                    </div>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="pageHeader">
                    <div class="segment">
                        <h3 class="ui dividing header">
                            <i class="large cloud icon"></i>
                            <div class="content">
                                我的购买记录
                                <div class="sub header">购买的视频信息都在这里</div>
                            </div>
                        </h3>
                    </div>
                </div>
                <!--the products content-->

                {% for record in consume_records[0:2] %}
                    <div class="ui four column grid segment">
                        <div class="row">
                            {#                            <div class="ui info segment">#}
                            {#                                <h5 class="ui header">#}
                            {#                                    电影 <span class="ui type label" title="平台公开">平台公开</span>#}
                            {#                                    <div class="sub header">这是一个测试中，还未发布的产品。</div>#}
                            {#                                </h5>#}
                            <div class="three wide column">
                                    <a class="ui image" href="/movie/{{ record.movie.brief_id }}">
                                        <img src="{{ record.movie.cover }}">
                                    </a>
                            </div>
                            {#                                <p>模板设备： <a class="externalUrl" href="./device.html" title="模板设备">设备01</a></p>#}
                            {#                                <p>已生成： <span class="stress">3</span> 批次</p>#}
                            {#                                <p>已激活： <span class="stress">23 / 50</span>，46.0%</p>#}
                            {#                            </div>#}
                        </div>
                    </div>
                {% endfor %}

                <!--the pagination-->
                <div class="ui pagination menu">
                    <a class="icon item">
                        <i class="icon left arrow"></i>
                    </a>
                    <a class="active item">
                        1
                    </a>
                    <div class="disabled item">
                        ...
                    </div>
                    <a class="item">
                        4
                    </a>
                    <a class="item">
                        5
                    </a>
                    <a class="item">
                        6
                    </a>
                    <a class="icon item">
                        <i class="icon right arrow"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}