{% extends 'base.html' %}

{% block title %}电影船{% endblock %}

{% block content %}


    <div class="ui container center aligned">
        <a class="header item center aligned" href="/">
            <img class="logo" src="../static/favicon.ico">
        </a>
        <div class="ui search">
            <form class="ui form" action="/search" method="GET">
                <h1 class="ui header">电影船是一个在线付费视频的网站</h1>
                <div class="ui field fluid huge action input">
                    <input type="text" name="keyword" placeholder="请输入电影、电视剧、纪录片名">
                    <button type="submit" value="search" class="ui huge secondary submit button">搜索</button>
                </div>
            </form>
        </div>
    </div>

    {% if keyword %}
        <div class="ui container">
            <div class="ui info message">
                {#                <i class="close icon"></i>#}
                <div class="header">
                    <p>以下是搜索关键词<span style="color:red">{{ keyword }}</span>得到的结果</p>
                    <p>共有<span style="color:red">{{ movies.__len__() }}</span>条记录</p>
                </div>
            </div>
        </div>
    {% endif %}

    <br> <br> <br> <br> <br> <br> <br> <br>
    {#                    <div class="content">#}
    {#                        <div class="header"> {{ movie.title }}</div>#}
    {#                        <div class="meta">#}
    {#                            {% for item in movie.info.split('\n')[0:-2] %}#}
    {#                                <a>{{ item }}</a>#}
    {#                            {% endfor %}#}
    {#                        </div>#}
    {#                        <div class="description">{{ movie.summary[20] }}</div>#}
    {#                    </div>#}

    <style>
        .row {
            margin-bottom: -70px;
        }
    </style>




    <div class="ui centered grid">
        {% for i in range(2) %}
            <div class="two column row">
                {% for movie in movies[i*4:i*4+4] %}
                    <div class="column">
                        <div class="ui card">
                            <a class="image" href="/movie/{{ movie.brief_id }}" style="width: 270px;height: 399px;">
                                <img src="{{ movie.cover }}">
                            </a>
                            <div class="content">
                                <a class="header" href="/movie/{{ movie.brief_id }}"><h3>{{ movie.title }}</h3></a>
                            </div>
                            <div class="extra content">
                                ￥
                                <span style="color: red;">
                                        {{ movie.movie_price.first().price }}
                                </span>
                            </div>
                        </div>
                        <button id="custom_{{ movie.brief_id }}" class="ui button negative large">点击购买</button>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>


    <div class="ui container">
        <div class="ui pagination menu right floated">
            <a class="icon item">
                <i class="icon left arrow"></i>
            </a>

            {% for x in range(7) %}
                <a class="item">
                    {{ x }}
                </a>
            {% endfor %}

            <a class="icon item">
                <i class="icon right arrow"></i>
            </a>
        </div>

    </div>

    <div id="custom_modal" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            确认购买
        </div>
        <div class="content">
            <img id="custom_img" src="">
            <h3 id="movie_title"></h3>
        </div>
        <div class="actions">
            <div id="confirm_custom" class="ui negative button">确认购买</div>
            <div class="ui button">取消</div>
        </div>
        <div class="ui error message">
            <ul class="list">
                <li>ERR</li>
            </ul>
        </div>
    </div>
    </div>

    <script>
        var movie_brief_id = $(this).attr("id");
        $('.button.negative.large').click(
            function () {
                movie_brief_id = $(this).attr("id");

                var item_src = $(this).parent()[0].getElementsByTagName('img')[0].src
                var item_title = $(this).parent()[0].getElementsByTagName('h3')[0].text

                alert(item_title)

                $('#movie_title').text(item_title)
                $('#custom_img').attr('src', item_src);
                $('#custom_modal').modal('show');
            }
        )

        $('#confirm_custom').click(
            function () {

                function deal_response(response) {
                    switch (response['code']) {
                        case 302:
                            $('li').text(
                                response['message']
                            )
                            $('.error.message').show()
                            break
                    }
                }

                $.ajax({
                        type: 'POST',
                        url: '/custom',
                        data: {movie_brief_id: movie_brief_id},
                        success: deal_response,
                    }
                )
            }
        )


    </script>


{% endblock %}