{% extends 'base.html' %}

{% block title %}电影船{% endblock %}

{% block content %}


    <div class="ui container center aligned">
        <a class="header item center aligned" href="/">
            <img class="logo" src="../static/favicon.ico">
        </a>
        <div class="ui search">
            <form class="ui form" action="/search" method="GET">
                <h1 class="ui header">电影船是一个在线付费视频的网站</h1>
                <div class="ui field fluid huge action input">
                    <input type="text" name="keyword" placeholder="请输入电影、电视剧、纪录片名">
                    <button type="submit" value="search" class="ui huge secondary submit button">搜索</button>
                </div>
            </form>
        </div>
    </div>

    <br> <br> <br> <br> <br> <br> <br> <br>
    {#            {% for movie in movies[0:11] %}#}
    {#                        <a class="image" href="/movie/{{ movie.brief_id }}">#}
    {#                            <img src="{{ movie.cover }}">#}
    {#                        </a>#}
    {#                    <div class="content">#}
    {#                        <div class="header"> {{ movie.title }}</div>#}
    {#                        <div class="meta">#}
    {#                            {% for item in movie.info.split('\n')[0:-2] %}#}
    {#                                <a>{{ item }}</a>#}
    {#                            {% endfor %}#}
    {#                        </div>#}
    {#                        <div class="description">{{ movie.summary[20] }}</div>#}
    {#                    </div>#}
    {#                    <div class="extra content">#}
    {#                        <span class="right floated">￥5.0</span>#}
    {#                        <span><i class="user icon"></i> 75 条评论</span>#}
    {#                    </div>#}



    <div class="ui centered grid">
        <div class="two column row">
            {% for movie in movies[0:4] %}
                <div class="column">
                    <div class="ui card">
                        <a class="image" href="/movie/{{ movie.brief_id }}" style="width: 270px;height: 399px;">
                            <img src="{{ movie.cover }}">
                        </a>
                        <div class="content">
                            <a class="header" href="#">{{ movie.title }}</a>
                            <div class="meta">
                                <a>Last Seen 2 days ago</a>
                            </div>
                        </div>
                    </div>
                    <button class="negative ui button large">点击购买</button>


                </div>
            {% endfor %}
        </div>


        <div class="two column row">
            {% for movie in movies[4:8] %}
                <div class="column">
                    <div class="ui card">
                        <a class="image" href="#" style="width: 270px;height: 399px;">
                            <img src="{{ movie.cover }}">
                        </a>
                        <div class="content">
                            <a class="header" href="#">{{ movie.title }}</a>
                            <div class="meta">
                                <a>Last Seen 2 days ago</a>
                            </div>
                        </div>
                    </div>
                    <button class="negative ui button large">点击购买</button>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="ui container">
        <div class="ui pagination menu right floated">
            <a class="icon item">
                <i class="icon left arrow"></i>
            </a>

            {% for x in range(7) %}
                <a class="item">
                    {{ x }}
                </a>
            {% endfor %}

            <a class="icon item">
                <i class="icon right arrow"></i>
            </a>
        </div>

    </div>

    <script>
        $('.special.cards .image').dimmer({
            on: 'hover'
        });
    </script>


{% endblock %}