{% extends 'base.html' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang('zh_CN') }}

{% endblock %}

{% block content %}

    <style>
        .boxed {
            position: relative;
            overflow: hidden;
            padding: 1.85714286em;
            margin-bottom: 30px;
        }

        .boxed:not([class*='bg-']) {
            background: #ffffff;
        }

        body {
            font-size: 1em;
            line-height: 1.85714286em;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
            color: #666666;
            font-weight: 400;
        }
    </style>


    <div class="ui grid">
        <div class="ui row">
            <dvi class="three wide column"></dvi>
            <div class="three wide column">
                <div class="" style="position: absolute; left: 0px; top: 0px;">
                    <div class="hover-shadow">
                        <img alt="{{ movie.title }}"
                             src="{{ movie.cover }}">
                    </div>
                    <button id="watch" class="ui blue button">
                        观看视频
                    </button>
                    <button class="ui red button">
                        购买视频
                    </button>
                </div>
            </div>
            <div class="two wide column"></div>
            <div class="six wide column">
                <div class="boxed">
                    <span style="font-size: 2em;font-weight: 700;color:#be997f;display: block;margin-bottom: .5em">{{ movie.title }}</span>
                    <div class="tinfo">
                        {% for item in movie.info.split('\n')[0:-2] %}
                            {% if not item.startswith('豆瓣') %}
                                <p class="tiny-title">{{ item }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <hr>
                    <span
                            style="font-size: 2em;font-weight: 700;color:#fc9b35;">
                            {% for item in movie.info.split('\n')[0:-2] %}
                                {% if item.startswith('豆瓣') %}
                                    {{ item }}
                                {% endif %}
                            {% endfor %}

                        </span>
                    <article class="information-text">
                        {{ movie.summary }}
                    </article>
                </div>

            </div>
        </div>
        <div class="ui row">
            <dvi class="four wide column"></dvi>
            <div class="ui comments">
                <h3 class="ui dividing header">用户评论</h3>
                {% for comment in comments %}
                    {% if comment.to_user %}
                        <div class="comment">
                            <div class="avatar">
                                <img class="ui medium circular image" src="{{ comment.to_user.avatar }}">
                            </div>
                            <div class="content">
                                <a class="author">{{ comment.to_user.username }}</a>
                                <div class="metadata">
                                    <span class="date">{{ comment.comment_time.strftime("%Y-%m-%d") }}</span>
                                    <span class="date">{{ moment(comment.comment_time).fromNow() }}</span>
                                </div>
                                <div class="text" style="font-size: 1.2em">{{ comment.content }}</div>
                                <div class="actions">
                                    <a class="reply">回复</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="comments">
                        <div class="comment">
                            <a class="avatar">
                                <img class="ui medium circular image" src="{{ comment.from_user.avatar }}">
                            </a>
                            <div class="content">
                                <a class="author">{{ comment.from_user.username }}</a>
                                <div class="metadata">
                                    <span class="date">{{ comment.comment_time.strftime("%Y-%m-%d") }}</span>
                                    <span class="date">{{ moment(comment.comment_time).fromNow() }}</span>
                                </div>
                                <div class="text" style="font-size: 1.2em">{{ comment.content }}</div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <form class="ui reply form" action="{{ request.path }}" method="POST">
                    <div class="field">
                <textarea name="comment">
                </textarea>
                    </div>
                    {% if not user.is_authenticated %}
                        <button class="ui blue labeled disabled submit icon button"><i class="icon edit"></i>登陆后才能评论
                        </button>
                    {% else %}
                        <button id="comment" class="ui blue labeled submit icon button"><i class="icon edit"></i>添加评论
                        </button>
                    {% endif %}
                </form>
            </div>
        </div>

    </div>


    <script>
        $('#watch').click(
            function () {
                window.location = '/watch/{{ movie.brief_id }}'
            }
        )


    </script>
{% endblock %}
