{% extends 'base.html' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang('zh_CN') }}

{% endblock %}

{% block content %}

    <style>
        .boxed {
            position: relative;
            overflow: hidden;
            padding: 1.85714286em;
            margin-bottom: 30px;
        }

        .boxed:not([class*='bg-']) {
            background: #ffffff;
        }

        body {
            font-size: 1em;
            line-height: 1.85714286em;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
            color: #666666;
            font-weight: 400;
        }
    </style>


    <div class="ui grid">
        <div class="ui row">
            <dvi class="three wide column"></dvi>
            <div class="three wide column">
                <div class="" style="position: absolute; left: 0px; top: 0px;">
                    <div class="hover-shadow">
                        <img alt="{{ movie.title }}"
                             src="{{ movie.cover }}">
                    </div>
                    {% if not user.is_authenticated %}
                        <button class="ui blue labeled disabled submit icon negative button">
                            <i class="video play icon"></i>登陆后才能观看或购买
                        </button>
                    {% else %}
                        {% if can_watched %}
                            <button id="watch" class="ui blue button large">
                                <i class="video play icon"></i>
                                观看视频
                            </button>
                        {% else %}
                            <button id="consume_{{ movie.brief_id }}" class="ui button negative large">
                                <i class="video play icon"></i>
                                点击购买
                            </button>
                        {% endif %}
                    {% endif %}
                    <div id="info_{{ movie.brief_id }}" class="item info" hidden>
                        <span style="font-size: 2em;font-weight: 700;color:#be997f;display: block;margin-bottom: .5em">{{ movie.title }}</span>

                        {% for item in movie.info.split('\n')[0:-2] %}
                            <span class="tiny-title">{{ item }}</span>
                        {% endfor %}
                        <div class="ui horizontal divider">
                        </div>
                        <div class="extra content">
                                    <span style="font-size: 3em">

                                    ￥
                                    </span>

                            <span style="color: red;font-size: 7em;">
                                        {{ movie.movie_price.first().price }}
                                </span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="two wide column"></div>
            <div class="six wide column">
                <div class="boxed">
                    <span style="font-size: 2em;font-weight: 700;color:#be997f;display: block;margin-bottom: .5em">{{ movie.title }}</span>
                    <div class="tinfo">
                        {% for item in movie.info.split('\n')[0:-2] %}
                            {% if not item.startswith('豆瓣') %}
                                <p class="tiny-title">{{ item }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <hr>
                    <span
                            style="font-size: 2em;font-weight: 700;color:#fc9b35;">
                            {% for item in movie.info.split('\n')[0:-2] %}
                                {% if item.startswith('豆瓣') %}
                                    {{ item }}
                                {% endif %}
                            {% endfor %}

                        </span>
                    <article class="information-text">
                        {{ movie.summary }}
                    </article>
                </div>

            </div>
        </div>
        <div class="four wide column"></div>
        <div class="ui row">
            <div class="four wide column"></div>
            <div class="ui comments">
                <h3 class="ui dividing header">用户评论</h3>
                {% for comment in comments %}
                    <div class="comment">
                        <div class="avatar">
                            <img class="ui medium circular image" src="{{ comment.user.avatar }}">
                        </div>
                        <div class="content">
                            <a class="author">{{ comment.user.username }}</a>
                            <div class="metadata">
                                <span class="date">{{ comment.comment_time.strftime("%Y-%m-%d") }}</span>
                                <span class="date">{{ moment(comment.comment_time).fromNow() }}</span>
                            </div>
                            <div class="text" style="font-size: 1.2em">{{ comment.content }}</div>
                            <div class="reply" id="{{ comment.id }}"> 回复</div>
                        </div>
                    </div>

                    {% if comment.replies.all() %}
                        <div class="comments" style="margin-left: 20px">
                            {% for reply in comment.replies.all() %}
                                <div class="comment">
                                    <a class="avatar">
                                        <img class="ui medium circular image" src="{{ reply.user.avatar }}">
                                    </a>
                                    <div class="content">
                                        <a class="author">{{ reply.user.username }}</a>
                                        <div class="metadata">
                                            <span class="date">{{ comment.comment_time.strftime("%Y-%m-%d") }}</span>
                                            <span class="date">{{ moment(comment.comment_time).fromNow() }}</span>
                                        </div>
                                        <div class="text" style="font-size: 1.2em">{{ reply.content }}</div>
                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                    {% endif %}

                {% endfor %}
                <form class="ui reply form" action="{{ request.path }}" method="POST">
                    <div class="field">
                <textarea name="comment" rows="3" cols="20">
                </textarea>
                    </div>
                    {% if not user.is_authenticated %}
                        <button class="ui blue labeled disabled submit icon button"><i class="icon edit"></i>登陆后才能评论
                        </button>
                    {% else %}
                        <button id="comment" class="ui blue labeled submit icon button"><i class="icon edit"></i>添加评论
                        </button>
                    {% endif %}
                </form>
            </div>

        </div>
    </div>


    <div id="consume_modal" class="ui modal" style="width: 700px">
        <i class="close icon"></i>
        <div class="header">
            确认购买
        </div>
        <div class="content" style="margin-bottom: 50px">
            <div class="container">
                <div class="ui grid">
                    <div class="two column row">
                        <div class="column">
                            <img id="consume_img" src="">
                        </div>
                        <div id="consume_content" class="column">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui container right aligned">
            <div id="confirm_consume" class="ui negative right button" onsubmit="return false;">确认购买</div>
            <div id="cancel_consume" class="ui button">取消</div>
        </div>


        <div class="ui error message" hidden>
            <ul class="list">
                <li></li>
            </ul>
        </div>
    </div>


    <script>
        $('#watch').click(
            function () {
                window.location = '/watch/{{ movie.brief_id }}'
            }
        );

        {#        $('.reply').click(#}
        {#            function () {#}
        {#                var form_id = $(this)[0].id;#}
        {##}
        {##}
        {#                var _html = '<form action="/reply/"' + 'method="POST"'#}
        {#                var _html = _html + '>' + '<input type="text"'#}
        {#                var _html = _html + '>' + '<input type="submit"'#}
        {#                var _html = _html + '>' + '</form'#}
        {#                var _html = _html + '>'#}
        {##}
        {#                $(this)[0].innerHTML = _html#}
        {#                $(this).attr('class', 'replying');#}
        {#            }#}
        {#        )#}

        var movie_brief_id = $(this).attr("id");
        $('.button.negative.large').click(
            function () {
                $('#consume_modal').modal('show');
                $('.error.message').hide()
                movie_brief_id = $(this).attr("id");

                var item_src = $(this).parent()[0].getElementsByTagName('img')[0].src;
                var item_info = $(this).parent()[0].getElementsByClassName('item info')[0];


                $('#consume_img').attr('src', item_src);
                $('#consume_content').html(item_info.innerHTML);
                $('#consume_modal').modal('show');
            }
        )

        $('#confirm_consume').click(
            function () {

                function deal_response(response) {
                    switch (response['code']) {
                        case 300:
                            $('#consume_modal').modal('hide')

                        case 301:
                            $('li').text(
                                response['message']
                            )
                            $('.error.message').show()
                            break
                        case 302:
                            $('li').text(
                                response['message']
                            )
                            $('.error.message').show()
                            break
                    }
                }

                $.ajax({
                        type: 'POST',
                        url: '/consume',
                        data: {movie_brief_id: movie_brief_id},
                        success: deal_response,
                    }
                )
            }
        )

        $('#cancel_consume').click(
            function () {
                $('#consume_modal').modal('hide')
            }
        )
    </script>


{% endblock %}
