{% extends 'base.html' %}

{% block title %}{{ user.username }}--用户中心{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang('zh_CN') }}
{% endblock %}

{% block content %}



    <!--the main content begin-->
    <div class="container">
        <!--the content-->
        <div class="ui grid">
            <div class="two wide column"></div>
            <!--the vertical menu-->
            <div class="four wide column">
                <div class="verticalMenu">
                    <div class="ui vertical pointing menu fluid">
                        <a class="active teal item" href="/user/profile">
                            <i class="edit icon"></i>账户设置
                        </a>
                        <a class="item" href="/user/consume_history">
                            <i class="history icon"></i>消费历史
                        </a>
                        <a class="item" href="/user/change_password">
                            <i class="lock icon"></i> 修改密码
                        </a>
                        <a class="item" href="/user/charge">
                            <i class="yen icon"></i>充值
                        </a>
                        <a class="item" href="/user/message">
                            <i class="chat icon"></i> 消息
                        </a>
                    </div>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="pageHeader">
                    <div class="segment">
                        <h3 class="ui dividing header">
                            <i class="large edit icon"></i>
                            <div class="content">
                                账户设置
                                <div class="sub header">您的个人账户信息</div>
                            </div>
                        </h3>
                    </div>
                </div>
                <!--the user_profile form-->
                <div class="ui form vertical segment">
                    <img src="{{ user.avatar }}">
                    <form action="/user/profile" method="POST">
                        <div class="two fields">
                            <div class="field">
                                <label>用户名</label>
                                <div class="ui left labeled icon input">
                                    <input type="text" id="username" name="username" value="{{ user.username }}">
                                    <i class="user icon"></i>
                                    <div class="ui corner label">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>手机号码</label>
                                <div class="ui left labeled icon input">
                                    <input type="text" id="phone_number" name="phone_number"
                                           value="{{ user.phone_number }}">
                                    <i class="mail icon"></i>
                                </div>
                            </div>
                        </div>


                        <input class="ui small blue submit button" type="submit" value="保存">
                        <input class="ui small basic button" type="reset" value="取消">
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        $('.ui.dropdown')
            .dropdown();
    </script>


{% endblock %}