{% extends 'base.html' %}

{% block title %}{{ user.username }}--电影船{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang('zh_CN') }}
{% endblock %}

{% block content %}



    <!--the main content begin-->
    <div class="container centered aligned">
        <!--the content-->
        <div class="ui grid">
            <!--the vertical menu-->
            <div class="four wide column">
                <div class="verticalMenu">
                    <div class="ui vertical pointing menu fluid">
                        <a class="item" href="">
                            <i class="edit icon"></i>修改密码
                        </a>
                        <a class="active teal item" href="/user/consume_records">
                            <i class="key icon"></i>充值记录
                        </a>
                        <a class="item" href="/user/charge_records">
                            <i class="lock icon"></i> 消费记录
                        </a>
                    </div>
                </div>
            </div>

            <div class="ui vertical pointing menu">
                <a class="active item">
                    Home
                </a>
                <a class="item">
                    Messages
                </a>
                <a class="item">
                    Friends
                </a>
            </div>

            <div class="container">
                <img class="ui medium circular image" src="{{ user.avatar }}">
            </div>


            <div class="twelve wide column">
                <div class="pageHeader">


                    <h1>
                        {{ user.username }}
                    </h1>


                    <h1>
        <span style="color: red;">
        ¥{{ user.balance }}
        </span>
                    </h1>
                    <h1>{{ user.phone_number }}</h1>
                    <div class="segment">
                    </div>
                </div>
                <!--the api confirm modal-->

            </div>

{% endblock %}